bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
/out
/project
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
